<div class="collection">
  <a href="/admin/dashboard" class="collection-item">Заказы</a>
  <a href="/admin/history" class="collection-item">История заказов</a>
  <a href="/admin/menu" class="collection-item">Управление меню</a>
  <a href="/admin/categories" class="collection-item">Категории</a>
  <a href="/admin/logout" class="collection-item">Выход</a>

</div>
