<nav>
  <div class="nav-wrapper deep-orange darken-3">
    <a href="/" class="brand-logo center" style="margin-left: 20px; font-family: 'Rubik Beastly', system-ui;">Л А С К О В О Е - К А Ф Е</a>

    {{#unless (includes currentPath "/admin")}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Меню</a></li>
        <li><a href="/cart"><i class="material-icons left">shopping_cart</i>Корзина</a></li>
      </ul>
    {{/unless}}
  </div>
</nav>
